body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}
.container {
    display: block;
    width: 500px;
    min-height: 200px;
    margin: 30px auto;
    background-color: #ECFDF5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;
    }
    .container h1{
        font-family: 'Karla', sans-serif;
        marging-bottom: 0;
        align-self: flex-start;
    }
    .container h1 span{
        color: #4ADF86;
    }
    .container p {
        margin-top: -18px;
        font-size: 12px;
        align-self: flex-start;
    }
    .container #generate-password {
        margin-bottom: 15px;
        background: #10B981;
        color: #fff;
        padding: 5px 10px;
        align-self: flex-start;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .container .inputs input {
        background-color: #273549;
        padding: 3px 15px;
        border: none;
        color: #fff;
        font-size: 14px;
        flex: 1 1 auto;
        border-radius: 3px;
        box-shadow: 1px 10px 50px rgba(0,0,0,0.1);
        cursor: pointer;
    }
    user::selection{
        background: none;
    }
    @media screen and (max-width: 400px) {
        .container {
            width: 100%;
        }
        .container .inputs input {
            margin-top: 20px;
        }
    }